{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
    {% if sent %}
        <h1> Email succesfully sent </h1>
        <p>
            "{{ post.title }} " was succesfully sent to {{ form.cleaned_data.to}}
        </p>
    {% else %}
        <h1> Share "{{Post.title}}" by email </h1>>
        <form action="." method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="send email">
        </form>
    {% endif %}
{% endblock %}